* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Monstserrat, sans-serif;
	overflow-x: hidden;
}

.wrapper {
	width: 100ww;
	height: 100ww;
	background-color: #191c32;
	color: #fff;
}